
<div class='container my-3'>
  <h2>NewsNest - Top Headlines</h2>
  <div class='row'>
    <% if @articles.present? %> <!-- Check if articles exist -->
      <% @articles.each do |article| %>
        <div class="col-12 col-md-4"> <!-- Adding a column for responsive layout -->
          <div class="card mb-3"> <!-- Adding margin at the bottom -->
            <% if article['urlToImage'].present? %>
              <img src="<%= article['urlToImage'] %>" class="card-img-top" alt="Article image"/>
            <% else %>
              <img src="https://www.respawnsive.com/wp-content/uploads/Illus-JBP-APIZR-2-thegem-blog-default.png" class="card-img-top" alt="Default image"/> <!-- Fallback image -->
            <% end %>
            <div class="card-body">
              <h5 class="card-title"><%= article['title'] %></h5>
              <p class="card-text"><%= article['description'] %>...</p> <!-- Adding ellipsis for truncation -->
              <a href="<%= article['url'] %>" class="btn btn-sm btn-primary">Read
                more</a> <!-- Correcting button href syntax -->
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class='col-12'>
        <p>No articles available at the moment.</p> <!-- Message for empty state -->
      </div>
    <% end %>
  </div>
</div>
